.App {
  /* text-align: center; */
  /* margin: 24px; */
  background-color: #FFFDE7;
  
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.App > .GradeList { flex-basis: 75%; }
.App > .GradeInput { flex-basis: 10%; }
.App > .GradeButtons { flex-basis: 10%; }
.App > .Credits { flex-basis: 5%; }
