.GradeButtons
{
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 8px 24px;
}

.GradeButtons > *
{
  flex: 1;
}

.GradeButtons button
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  font-size: 14pt;
  
  height: 100%;
  padding: 8px;
}

.GradeButtons button > *
{
  height: 100%;
}
