html
{
  height: 100%;
}

html *
{
  box-sizing: border-box;
  overflow: clip;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #AAAABB;
  
  /* width: 100%; */
  height: 100%;
}

#root
{
  background-color: #D7CCC8;
  padding: 24px;
  /* width: 100%; */
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Credits
{
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 10pt;
  
  /* justify-content: center; */
  align-items: center;
  
}
